@model service.Models.viewModel
@{
    ViewBag.Title = "authorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">@Model.author._firstName @Model.author._lastName</div>
                <div class="panel-body">

                    <small>Birth year: @Model.author._birthYear</small>
                    <br />
                    <small>unique ID: @Model.author._aId</small>
                    <br />
                    <small>Books:</small>
                    @foreach (var books in Model.bookList)
                    {
                        <small>@books._title</small>
                    }
                </div>
            </div>
        </div>


    




