@using PagedList;
@using PagedList.Mvc;
@model IPagedList<service.Models.Author>
@{
    ViewBag.Title = "authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/index.css" rel="stylesheet" />

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" id="panelHeading">@using (Html.BeginForm("authors", "Authors", FormMethod.Get))
            {
        <div class="row">


            <form class="navbar-nav" role="search">

                <div class="col-lg-12 input-group add-on">

                    @Html.TextBox("Search", null, new { @class = "form-control input-lg", @placeholder = "Search", @type = "text" })
                    <div class="input-group-btn">
                        <button id="searchButton" class="btn btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>

            </form>

        </div>
    }</div>
    
    <!-- Table -->
    <table  class="table table-hover">
        <thead>
            <tr>

                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Födelseår</th>
                
             </tr>
        </thead>



        <tbody>
            @foreach (var author in Model)
            {


                <tr  onclick="document.location = '@Url.Action("authorDetails", "Authors", new {authorId = @author.Aid})'">
                    <td>@author.FirstName</td>
                    <td>@author.LastName</td>
                    <td>@author.BirthYear</td>
                    
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="col-md-12">
    <a id="createButton" class="glyphicon glyphicon-plus btn btn-sm btn-default pull-right" href='@Url.Action("showCreateAuthor", "Authors")'></a>
    @Html.PagedListPager(Model, page => Url.Action("authors", new { page, Search = Request.QueryString["Search"] }))
</div>
