
@model service.Models.viewModel

@{ 
    ViewBag.Title = "bookDetails";
    
}

   
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">@Model.book._title</div>
                <div class="panel-body">

                    <small>Info: @Model.book._publicationInfo</small>
                    <br />
                    <small>ISBN: @Model.book._ISBN</small>
                    <br />
                    <small>Pages: @Model.book._pages</small>
                    <br />
                    <small>Authors: </small>
                    @foreach (var authors in Model.authorList)
                    {
                    <small>@authors._firstName, @authors._lastName</small>
                    }
                    <div class="col-md-12">
                        <a id="editButton" class="glyphicon glyphicon-cog btn btn-sm btn-default pull-right" href='@Url.Action("showEditView", "Books", new {isbn = @Model.book._ISBN})'></a>
                        
                    </div>
                </div>
            </div>
        </div>
       

    


