
@model service.Models.viewModel

@{ 
    ViewBag.Title = "bookDetails";
    
}

    <h1>@ViewBag.serverError</h1>

   
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">@Model.book.Title</div>
                <div class="panel-body">

                    <small>Info: @Model.book.PublicationInfo</small>
                    <br />
                    <small>ISBN: @Model.book.ISBN</small>
                    <br />
                    <small>Pages: @Model.book.pages</small>
                    <br />
                    <small>Authors: </small>
                    @foreach (var authors in Model.authorList)
                    {
                        <a href='@Url.Action("authorDetails", "Authors", new { authorId = authors.Aid })'>@authors.FirstName @authors.LastName |</a>
                        
                        
                    }
                    <div class="col-md-12">
                        <a id="editButton" class="glyphicon glyphicon-cog btn btn-sm btn-default pull-right" href='@Url.Action("showEditView", "Books", new {isbn = @Model.book.ISBN})'></a>
                        
                    </div>
                </div>
            </div>
        </div>
       

    


