@model service.Models.viewModel


<h2>editBook</h2>
@using (Html.BeginForm("editBook", "Books", FormMethod.Get))
{
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Titel of book: <small>@Model.book.Title</small></label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text" name="title">
        
    </div>
    <div class="form-group">
        
            <label>
                Author(s):
                @foreach (var author in Model.book.AUTHORS)
                {
                    <small>[@author.LastName, @author.FirstName]</small>
                }
            </label>
        
            <label for="exampleInputPassword1"></label>
        <div id="authorDiv">
            <select class="form-control" id="authorSelect">
                @foreach (var author in Model.authorList)
                {


                    <option value="aID">@author.FirstName @author.LastName</option>
                }
            </select>
                

        </div>
        <button  id="addDiv"  class="glyphicon glyphicon-plus" type="button"></button>
    </div>
    <div class="form-group">
        <label>ISBN: <small>@Model.book.ISBN</small></label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text" name="ISBN">
        
    </div>
    <div class="form-group">
        <label>Publication year: <small>@Model.book.PublicationYear</small></label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text" name="publicationYear">

    </div>
    <div class="form-group">
        <label>Publication info: <small>@Model.book.PublicationInfo</small></label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text" name="publicationInfo">

    </div>
    <div class="form-group">
        <label>Pages: <small>@Model.book.pages</small></label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text" name="pages">

    </div>
    <div class="form-group">
        <label>Classification: <small>@Model.book.CLASSIFICATION.Signum</small></label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text" name="signum">

    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("ready!");
        $("#addDiv").click(function () {
            $('#authorSelect').clone().appendTo("#authorDiv");
        });

    });
    </script>