<link href="~/content/index.css" rel="stylesheet" />

@{
    ViewBag.Title = "books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div id="panelHeading" class="panel-heading">Books</div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Publication year</th>
                <th>ISBN</th>
            </tr>
        </thead>


        <tbody>
            @foreach (service.Models.Books books in service.Models.Books.getBookList())
            {
                <tr>
                    <td>@books._title</td>
                    <td>@books._publicationInfo</td>
                    <td>@books._ISBN</td>
                    <td>@books._publicationYear</td>
                    <td>@books._publicationYear</td>
                </tr>
            }
        </tbody>

    </table>
</div>