@model service.Models.Account
@{
    ViewBag.Title = "administratorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using service.Security


    

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">@Model.Username</div>
                <div class="panel-body">

                    <small>Rank: @Model.Rank</small>
                    
                    
                    <div class="col-md-12">
                        <a id="editButton" class="glyphicon glyphicon-cog btn btn-sm btn-default pull-right" href='@Url.Action("showEditView", "Administrator", new {userName = @Model.Username})'></a>
                        @if (SessionPersister.Username != Model.Username)
                        {
                        <a id="deleteButton" class="glyphicon glyphicon-trash btn btn-sm btn-default pull-right" href='@Url.Action("deleteAccount", "Administrator", new { Username = Model.Username })'></a>
                        }
                    </div>
                </div>
            </div>
        </div>


    



